*.pyc
*.tar.gz
autoload
dbindexer
django
djangoappengine
djangotoolbox
mediagenerator
upstream/django-autoload
upstream/django-dbindexer
upstream/django-mediagenerator
upstream/django-nonrel
upstream/django-testapp
upstream/djangoappengine
upstream/djangotoolbox
django-openid-auth-0.3/
