{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/css/editevent.css" type="text/css" media="screen">
{% endblock %}
{% block body %}

  <form>
    <label for="fridays">Fridays</label>
    <select id=fridays>
       <option value=""></option>
       {% for friday in fridays %}
       <option value="{{ friday }}">{{friday}}</option>
       {% endfor %}
    </select>
    <label for="templates">Templates</label>
    <select id=templates>
       <option value=""></option>
       {% for name, template in templates %}
       <option value="{{ name }}">{{ name }}</option>
       {% endfor %}
    </select>
    {% for name, template in templates %}
       <textarea id={{name}} style="display: none;">{{template|safe}}</textarea>
    {% endfor %}
  </form>
</div>

<form id="templateEdit" class="clearfix" action="/event/{{event.key.id}}/edit" method="post">
  <ul class="eventData">
    <li>Event Name: <input type="text" name="name" value="{{event.name}}"/></li>
    <li>Start Time: <input type="text" name="start" value="{{event.start}}"/></li>
    <li>End Time: <input type="text" name="end" value="{{event.end}}" /></li>
    <li><input type="submit"/></li>
  </ul>
  <div id="tabs">
    <ul class="tablist">
      <li><a href="#source">Source</a></li>
      <li><a href="#plaintext">Formatted plaintext</a></li>
      <li><a href="#formatted">HTML</a></li>
    </ul>
    <div id="source">
      <textarea class="box eventInput" rows="30" cols="80" name="input">{{event.input}} </textarea>
    </div>
    <div id="plaintext" class="eventOutput">
      <div class="box"><pre class="eventOutput">{{event.plaintext|safe}}</pre></div>
    </div>
    <div id="formatted" class="eventOutput">
      <div class="box">{{event.html|safe}}</div>
    </div>
  </div>  <!--tabs-->
</form>
<script>

  $(function() {
    $( "#tabs" ).tabs();
  });

  $('#fridays').change(function () {
    var value = $(this).val();
    if (!value) {
      $('input[name="start"]').val('');
      $('input[name="end"]').val('');
    } else {
      $('input[name="start"]').val(value + ' 6:00pm');
      $('input[name="end"]').val(value + ' 8:00pm');
      var month = value.match(/[a-zA-z]*/);
      var year = value.match(/[0-9][0-9][0-9][0-9]/);
    }
  });

  $('#templates').change(function () {
    var name = $(this).val();
    if (name.replace(/\W+/, '') == '') {
       return;
    }
    var template = $('#'+name).val();
   
    var input = $('textarea[name="input"]');
    if (input.val().replace(/\W+/,'') == '') {
       input.val(template);
    } else {
       alert('Please make the input empty before selecting a template.');
    }
  });
</script>

{% endblock %}
